h3{
    color:black;
    font-weight: bold;
    text-decoration:underline;
    font-size:large;
}

.club{
    color:rgb(17, 9, 65);
    font-weight: bold;
}

.name{
    color:gold;
    font-weight: bold;
    font-size: medium;
}